html,body {
  width: 100%;
  height: 100%;
}

#map-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh
}

.original-marker {
  position: fixed;
  bottom: 16px;
  z-index: 99999;
  /* width: 100px; */
  height: 100px;
  cursor: pointer;
}


.original-marker-law {
  left: 16px;
}

.original-marker-method {
  right: 16px;
}

.marker-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
  border-radius: 8px;
  padding: 8px;
  z-index: 99999;
  cursor: move;
}


.marker-title {
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
  z-index: 2;
  white-space: nowrap;
  background-color: #fbf9f2;
  padding: 2px;
  /* 微软雅黑，其余的按照默认来 */
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.marker-container-method .marker-title {
  color: green;
}

.marker-container-law .marker-title {
  color: red;
}

.marker-title .marker-input {
  height: 32px;
  box-sizing: border-box;
  padding: 8px 8px;
  font-size: 20px;
  border: 1px solid #999;
  border-radius: 4px;
  z-index: 2; 
  transition: all 0.3s;
  width: 240px;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.marker-img {
  z-index: 1;
  height: 64px;
  cursor: move;
  animation: rotate 2s linear infinite; /* 可以根据需要更改动画持续时间和速度 */
}

